<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io('http://localhost:5000');
    socket.on('connect', function() {
        socket.emit('client_connected', {data: 'I\'m connected!'}, function (confirmation) {
            console.log(confirmation)
        });
    });


    socket.on('message', function (data) {
        console.log('message form backend ' + data);
    });

    socket.on('alert', function (data) {
        alert('Alert Message!! ' + data);
    });

    socket.on('my reply', function (data) {
        console.log('data form backend ');
        console.log(data)
    });

    socket.on('position', function (data) {
        console.log('new position: ');
        console.log(data)
        document.getElementById("x").innerHTML = data['x'];
        document.getElementById("y").innerHTML = data['y'];
    });

    function json_button() {
        // socket.send sends a message
        socket.send('{"message": "test"}');
    }

    function alert_button() {
        // socket.emit sends custom event and data
        socket.emit('alert', 'Alert from client!!')
    }

    function sendMsg() {
        socket.emit("message", "HELLO WORLD");
      }

    function sendEvent() {
      socket.emit("my event", '{"message": "MY EVENT"}');
    }
</script>

<button onClick="sendMsg()">Hit Me</button>
<button onClick="sendEvent()">My Event</button>
<button onclick="json_button()">Json Message</button>
<button onclick="alert_button()">Alert Message</button>
<div>
        X: <span id='x'></span>,
        Y: <span id='y'></span>
</div>
