<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src = "https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="webcamjs/webcam.js"></script>
<script type="text/javascript" charset="utf-8">
    // var socket = io('http://localhost:5000');
    var socket = io('http://192.168.42.147:5000');
    socket.on('connect', function() {
        socket.emit('client_connected', {data: 'I\'m connected!'}, function (confirmation) {
            console.log(confirmation)
        });
    });


    socket.on('message', function (data) {
        console.log('message form backend ' + data);
    });

    socket.on('alert', function (data) {
        alert('Alert Message!! ' + data);
    });

    socket.on('my reply', function (data) {
        console.log('data form backend ');
        console.log(data)
    });

    socket.on('position', function (data) {
        console.log('new position: ');
        console.log(data)
        document.getElementById("x").innerHTML = data['x'];
        document.getElementById("y").innerHTML = data['y'];
        drawCircle(data);
    });



    function json_button() {
        // socket.send sends a message
        socket.send('{"message": "test"}');
    }

    function alert_button() {
        // socket.emit sends custom event and data
        socket.emit('alert', 'Alert from client!!')
    }

    function sendMsg() {
        socket.emit("message", "HELLO WORLD");
      }

    function sendEvent() {
      socket.emit("my event", '{"message": "MY EVENT"}');
    }



</script>

<style type="text/css">
    .tick {
    		  fill-opacity: 0;
    		  stroke: #000000;
    		  stroke-width: 1;
    		}
    .axis line {
    			fill: none;
    			fill-opacity: 0;
    			stroke: black;
    			stroke-width: 1;
    			shape-rendering: crispEdges;
    		}

	.axis text {
		font-family: sans-serif;
		font-size: 0px;
	}
    .circle {
	  fill-opacity: .99;
	  stroke-opacity: 0.99;
	  stroke-width: 1;
      /*fill: #456;*/
      /*stroke: #456;*/
	}

    #center-circle {
        stroke:rgb(255,0,0);
        stroke-width: 1;
        fill-opacity: 0;
    }

    svg rect.foo {
      fill: white;
      stroke-width: 0.5;
      stroke: grey;
    }
</style>

<button onClick="sendMsg()">Hit Me</button>
<button onClick="sendEvent()">My Event</button>
<button onclick="json_button()">Json Message</button>
<button onclick="alert_button()">Alert Message</button>
<button onClick="take_snapshot()">Take Snapshot</button>
<div>
        X: <span id='x'></span>,
        Y: <span id='y'></span>
</div>
<div id="chart"></div>
<div id="canvas"></div>
<img id="imagebox" src=''>
<input type="file" accept="image/*" capture>
<div id="my_camera"></div>
<div id="results"></div>


<script type="text/javascript" charset="utf-8">

    Webcam.set({
		dest_width: 1024,
		dest_height: 768,
        width: 640,
		height: 480,
		image_format: 'jpeg',
		jpeg_quality: 90
	});
    Webcam.set( 'constraints',{ facingMode:'environment' });
    Webcam.attach( '#my_camera' );

    function take_snapshot() {
		// take snapshot and get image data
		Webcam.snap( function(data_uri) {
			// display results in page
			document.getElementById('results').innerHTML =
				'<h2>Here is your image:</h2>' +
				'<img src="'+data_uri+'"/>';
		} );
	}

    // var ctx = document.getElementById('canvas').getContext('2d');
    var imagebox = document.getElementById('imagebox')
    socket.on('image data', function(image) {
        console.log('new image:')
        console.log(image)
        var base64 = btoa(
            new Uint8Array(image['image_data'])
                .reduce((data, byte) => data + String.fromCharCode(byte), '')
        );
        imagebox.setAttribute("src", ' data:image/jpeg;charset=utf-8;base64,' + base64)
      // if (info.image) {
      //   var img = new Image();
      //   img.src = 'data:image/jpeg;base64,' + info.buffer;
      //   ctx.drawImage(img, 0, 0);
      // }
    });



    var margin = {top: 20, right: 20, bottom: 20, left: 20},
        width = 500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scaleLinear()
        .range([0, width])
        .domain([-1, 1]);
    var y = d3.scaleLinear()
        .range([height, 0])
        .domain([-1, 1]);
    var r = d3.scaleLinear()
        .domain([0, 1])
    	.range([0, width / 2 ]);

    var xAxis = d3.axisBottom()
        .scale(x)
    var yAxis = d3.axisLeft()
        .scale(y)

    var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

    svg.append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("height", height)
        .attr("width", width)
        .attr("class", "foo")

    svg.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + x(0) + "," + 0 + ")")
      .call(yAxis)

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(" + 0 + "," + y(0) + ")")
        .call(xAxis)

    var targetSize = 0.5

    svg.append("circle")
        .attr("cx", function () { return x(0) })
        .attr("cy", function () { return y(0) })
        .attr("r", function () {return r(targetSize) })
        .attr("id", "center-circle")
        .style("stroke-dasharray", ("3, 5"));

    function positionColor(position) {
        distance = Math.sqrt(position['x'] * position['x'] + position['y'] * position['y'])
        if (distance < targetSize) {
            return '#080'
        }
        if ((Math.abs(position['x']) > 1) || (Math.abs(position['y']) > 1)) {
            return '#aaa'
        }
        return '#b00';
    }

    function moveToBorder(position) {
        if ((Math.abs(position['x']) > 1) || (Math.abs(position['y']) > 1)) {
            distance = Math.sqrt(position['x'] * position['x'] + position['y'] * position['y'])
            bigger = Math.max(Math.abs(position['x']), Math.abs(position['y']))
            newposition = {
                'x': position['x'] / bigger * 1.03,
                'y': position['y'] / bigger * 1.03
            }
            return newposition
        }
        return position
    }

    var circleExist = false

    function drawCircle(position) {
        var circles = svg.selectAll('.circle').data([position]);

        if (!circleExist) {
            circles.enter().append('circle')
                .attr('r', 10).merge(circles) // <== !!!
                .attr('cx', function(d) {
                    dd = moveToBorder(d)
                    return x(dd['x'])
                })
                .attr('cy', function(d) {
                    dd = moveToBorder(d)
                    return y(dd['y'])
                })
                .attr('r', 20)
                .attr("fill", function(d) {
                    return positionColor(d)
                })
                .attr("class", "circle")

            circleExist = true
        }
        circles.transition()
            .attr('cx', function(d) {
                dd = moveToBorder(d)
                return x(dd['x'])
            })
            .attr('cy', function(d) {
                dd = moveToBorder(d)
                return y(dd['y'])
            })
            .attr("fill", function(d) {
                return positionColor(d)
            })
            .duration(500)

    }
</script>
